* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

*::before,
*::after {
   box-sizing: inherit;
}

html,
body {
   font-size: 16px;
   scroll-behavior: smooth;
   text-rendering: optimizeLegibility;
   touch-action: manipulation;
   user-select: none;
   -ms-touch-action: manipulation;
   -webkit-font-smoothing: antialiased;
   -webkit-text-size-adjust: 100%;
   -webkit-tap-highlight-color: rgba(0,0,0,0);
   -webkit-user-select: none;
}

body {
   --theme-color: #00668b;
   --text-color: #40484d;
   --surface-color: #fcfcff;
   --border-color: #dce3e9;
}

body.dark {
   --theme-color: #76d1ff;
   --text-color: #eaedf0;
   --surface-color: #191c1e;
   --border-color: #2a3136;
}

@media (prefers-color-scheme: dark) {
   body {
      --theme-color: #76d1ff;
      --text-color: #eaedf0;
      --surface-color: #191c1e;
      --border-color: #2a3136;
   }

   body.light {
      --theme-color: #00668b;
      --text-color: #40484d;
      --surface-color: #fcfcff;
      --border-color: #dce3e9;
   }
}

body {
   font-family: 'Poppins', system-ui, sans-serif;
   width: 100%;
   color: var(--text-color);
   background: var(--surface-color);
   line-height: 1.5;
}

img {
   max-width: 100%;
   display: flex;
}

a {
   text-decoration: none;
   cursor: pointer;
}

ul,
ol {
   list-style: none;
}

fieldset {
   border: none;
   outline: none;
}

input {
   border: none;
   outline: none;
}

input:focus {
	outline: none;
}

textarea {
   resize: none;
   border: none;
   outline: none;
   font-family: 'Poppins', system-ui, sans-serif;
}

button {
   border: none;
   outline: none;
   background: none;
   cursor: pointer;
}

button:focus {
	outline: none
}

main {
   position: relative;
}

header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: .625em .625em 1em .625em
}

.theme-btn {
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   color: var(--text-color);
}

.theme-btn::before {
   font-family: 'Material Symbols Outlined';
   content: '\e430';
   font-variation-settings: 'wght' 400;
   font-size: 2.125em;
}

.image-btn {
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   color: var(--text-color);
}

.image-btn::before {
   font-family: 'Material Symbols Outlined';
   content: '\e853';
   font-variation-settings: 'wght' 400;
   font-size: 2.125em;
}

.heading {
   text-align: center;
   font-size: 1.5em;
   font-weight: 500;
   line-height: 1;
   color: var(--text-color);
}

.tabs {
   display: flex;
   align-items: center;
   justify-content: space-around;
   gap: 1.5em;
   padding-left: 1.5em;
   padding-right: 1.5em;
   border-bottom: 1px solid var(--border-color);
}

.tabs li {
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: .875em;
   font-weight: 500;
   opacity: .6;
   cursor: pointer;
   text-align: center;
   border-bottom: 2px solid transparent;
   color: var(--text-color);
   padding: .1875em .25em;
   flex: 1;
}

.tabs li.active {
   opacity: 1;
   border-bottom: 2px solid var(--theme-color);
   color: var(--theme-color);
}

.tasks {
   display: flex;
   flex-direction: column;
   gap: 1.25em;
   padding-left: .75em;
   padding-right: .375em;
   padding-top: 1em;
}

.task {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   gap: .5em;
}

.task input[type="checkbox"] {
   appearance: none;
   -webkit-appearance: none;
   -moz-appearance: none;
   font-size: 1.875em;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   color: var(--text-color);
}

.task input[type="checkbox"]::before {
   content: '\e836';
   font-family: 'Material Symbols Outlined';
   font-variation-settings: 'wght' 400;
}

.task input[type="checkbox"]:checked::before {
   content: '\e86c';
   font-family: 'Material Symbols Outlined';
   font-variation-settings: 'wght' 400;
}

.task label {
   font-size: .925em;
   word-break: break-word;
   white-space: pre-wrap;
   margin-right: auto;
}

.task-controls {
   position: relative;
}

.more-btn {
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   color: var(--text-color);
}

.more-btn::before {
   font-family: 'Material Symbols Outlined';
   content: '\e5d4';
   font-variation-settings: 'wght' 400;
   font-size: 1.875em;
}

.menu {
   position: absolute;
   z-index: 10;
   right: 1em;
   bottom: -65px;
   background: var(--surface-color);
   border-radius: .25em;
   transform: scale(0);
   transform-origin: top right;
   transition: .15s ease;
   display: flex;
   flex-direction: column;
}

.menu.show {
   transform: scale(1);
}

.menu li {
   padding: .375em .875em .375em .25em;
}

.menu li button {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   font-size: 1em;
   font-weight: 500;
}

.edit-btn {
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   color: var(--text-color);
}

.edit-btn::before {
   font-family: 'Material Symbols Outlined';
   content: '\e3c9';
   font-variation-settings: 'wght' 400;
   font-size: 1.325em;
   margin-right: .375em;
}

.delete-btn {
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   color: var(--text-color);
}

.delete-btn::before {
   font-family: 'Material Symbols Outlined';
   content: '\e872';
   font-variation-settings: 'wght' 400;
   font-size: 1.325em;
   margin-right: .375em;
}

.create-btn {
   position: fixed;
   bottom: 1.25rem;
   right: 1.25rem;
   background: var(--theme-color);
   color: var(--surface-color);
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 1.5em;
   width: 2.25em;
   height: 2.25em;
   border-radius: .6em;
   box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 15%), 0px 6px 10px 0px rgb(0 0 0 / 8%), 0px 1px 18px 0px rgb(0 0 0 / 10%);
   z-index: 100;
}

.create-btn::before {
   font-family: 'Material Symbols Outlined';
   content: '\e145';
   font-variation-settings: 'wght' 500;
}

.modal {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: rgba(0,0,0,.5);
   overflow: hidden;
   pointer-events: none;
   visibility: hidden;
   z-index: 1000;
}

.visible {
   visibility: visible;
   pointer-events: auto;
}

.modal-inner {
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   max-height: 50vh;
   height: 0;
   transition: .15s linear;
   background: var(--surface-color);
   border-radius: .75em .75em 0 0;
   display: flex;
   flex-direction: column;
   transition: .15s linear;
   z-index: 1000;
}

.visible .modal-inner {
   height: 100%;
}

.modal-header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 1.25em;
}

.close-btn {
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   color: var(--text-color);
}

.close-btn::before {
   font-family: 'Material Symbols Outlined';
   content: '\e5cd';
   font-size: 2.125em;
}

.submit-btn {
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   background: var(--theme-color);
   color: #fff;
   font-size: 1em;
   font-weight: 500;
   padding: .425em .875em;
   border-radius: 1em;
}

.modal-body {
   padding: 1.25em 1.25em 0;
}

.textarea-control {
   width: 100%;
   position: relative;
}

.textarea {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   font-size: 1em;
   padding: 0 .25em;
   overflow-y: clip;
   min-height: 2em;
   background: var(--surface-color);
   border-bottom: 1px solid var(--border-color);
}

.textarea::placeholder {
   color: transparent;
}

.textarea::-webkit-scrollbar {
   display: none;
}

.textarea + label {
   position: absolute;
   top: 0;
   font-size: 1em;
   padding: 0 .25em;
   color: var(--text-color);
   opacity: .6;
   transition: .15s ease;
}

.textarea:focus {
   border-bottom: 1px solid var(--theme-color);
}

.textarea:focus + label {
   top: -1.5em;
   font-size: .75em;
   color: var(--theme-color);
   opacity: 1;
}

.textarea:not(:placeholder-shown) + label {
   top: -1.5em;
   font-size: .75em;
}